@font-face {
  font-family: "suisse";
  src: url("./fonts/SuisseIntl-Regular.otf");
}

html,
body {
  min-height: 100%;
}

body {
  /* background: rgb(77, 145, 158);
  background: linear-gradient(
    180deg,
    rgba(77, 145, 158, 0.36320465686274506) 0%,
    rgba(180, 208, 116, 0.4052214635854342) 100%
  );
  background-repeat: no-repeat;
  background-size: cover; */
  color: #222;
  font-family: suisse, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.logo {
  width: 100%;
  max-width: 380px;
  margin-bottom: 20px;
  min-width: 210px;
}

.warsaw {
    width: 100%;
    max-width: 185px;
}

.header {
    background-image: -webkit-linear-gradient(top, #1fa0db 0, #1fa0db 50%, #ffea00 50%, #ffea00 100%);
    background-image: linear-gradient(180deg, #1fa0db 0, #1fa0db 50%, #ffea00 50%, #ffea00 100%);
    font-size: 22px;
}

.header span{
    font-size: 12px;
    display: block;
}

.main {
  font-size: 14px;
}

.header-text span {
  display: block;
  font-size: 12px;
}

.btn-primary {
  color: #fff;
  background-color: #1fa0db;
  border-color: #1fa0db;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #fff;
  background-color: #126b94;
  border-color: #126b94;
}

.row-gap {
  row-gap: 20px;
}

.about {
    text-transform: none;
    background: #f5f5f5;
}

.footer {
    text-transform: none;
    font-size: 12px;
}

@media only screen and (max-width: 600px) {
    .header {
        font-size: 14px;
    }
  }